@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

$Poppins: "Poppins", sans-serif;

//colors
$dark: #779ecb;
$light: #fff;
$primary: rgb(109, 252, 193);
$bg: white;

$spacing-md: 16px;
$spacing-lg: 32px;

$borderRadius: 12px;

$headerHeight: 90px;

@mixin breakpoint($point) {
  @if $point == md {
    @media (min-width: 48em) {
      @content;
    }
  }
}
