@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$Poppins: "Poppins", sans-serif;
$Monst: "Montserrat", sans-serif;

//colors
$dark: #434545;
$light: #fff;
$blueD: #3583fb;
$bg: white;
$redD: rgb(195, 80, 91);
$redL: rgb(247, 104, 119);
$greenL: rgb(115, 237, 164);
$orangeL: #fac898;
$orangeD: #e0a268;
$spacing-md: 16px;
$spacing-lg: 32px;

$borderRadius: 30px;

$headerHeight: 90px;

@mixin breakpoint($point) {
	@if $point == md {
		@media (min-width: 51rem) {
			@content;
		}
	}
	@if $point == md1 {
		@media (min-width: 62.5rem) {
			@content;
		}
	}
}
