:root {
  --orange: #e1b07e;
  --blue: #2ab7ca;
  --green: #84dcc6;
  --rose: #fb6376;
  --darkgreen: #6c7d47;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--blue);
}
.header {
  font-size: 4rem;
  text-align: center;
  margin: 0;
  color: white;
}

.button-one {
  border-radius: 2rem;
  font-size: 1rem;
  border: none;
  padding: 0.6rem 1.7rem;
  background-color: var(--orange);
  color: white;
}
