@import "../styles/variables.scss";

.container {
	background: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	height: calc(100vh - #{$headerHeight});

	&__bottom {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin: 0 1rem;
		margin-bottom: 1rem;
		@include breakpoint(md) {
			margin: 0 0rem;
			margin-bottom: 1rem;
		}
	}

	&__middle {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 1rem;
		@include breakpoint(md) {
			margin: 0 0rem;
		}
	}
}
.title {
	font-size: 2rem;
	margin: 2rem 0 1.5rem 0;
	color: $dark;
	font-family: "Poppins", sans-serif;
	text-align: center;
	@include breakpoint(md) {
		font-size: 3rem;
	}
	background: rgb(115, 237, 164);
	background: linear-gradient(90deg, rgba(115, 237, 164, 1) 0%, rgba(24, 213, 224, 1) 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text {
	font-size: 1rem;
	color: $dark;
	font-family: "Poppins", sans-serif;
	text-align: center;
	margin: 0 0.5rem;
	@include breakpoint(md) {
		font-size: 1.5rem;
	}
	&__sub {
		font-size: 0.75rem;
		font-weight: 600;
		@include breakpoint(md) {
			font-size: 1rem;
		}
	}
	&__link {
		font-size: 0.75rem;

		@include breakpoint(md) {
			font-size: 1rem;
		}
	}
}

.btn {
	cursor: pointer;
	font-family: $Monst;
	font-weight: 500;
	padding: 0.75 * 0.375 * 1.5rem 0.75 * 2.625 * 1.5rem;
	font-size: 1rem;
	color: $orangeL;
	background: transparent;
	border: 2px solid $orangeL;
	border-radius: 2.625 * 1.5rem;
	transition: 0.3s ease all;
	margin: 2rem 0px;

	&:hover {
		color: white;
		background: $orangeL;
	}

	&:active {
		background: $orangeL;
		color: white;
	}
	@include breakpoint(md) {
		padding: 0.375 * 1.5rem 2 * 2.625 * 1.5rem;
		font-size: 2rem;
	}
}

.emergency {
	text-align: center;
	font-weight: bold;
	font-size: 1rem;
	color: $redD;
}
